@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.container
{
    width: 100%;
    height: 100vh;
    background: rgb(189, 187, 187);
    position:relative;
}

.container  h1 
{
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color:navy;
    font-family: 'Roboto', sans-serif;
}

.view-box
{
    width: 900px;
    height: 480px;
    border-radius: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#testimonials
{
    display: flex;
}

.user
{
    width: 800px;
    text-align: center;
    padding: 20px 70px;
    box-sizing: border-box;
    background:linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, rgb(20, 66, 158) 100%);
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
}

.space
{
    margin: 0 70px;
}

.user img
{
    width: 120px;
    border-radius: 50%;
    border: 8px double #000000;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    object-fit: cover;
    object-position: bottom;

}

.user p
{
    font-size: 22px;
    color: #000000;
    line-height: 32px;
    margin: 60px 0 30px;
}

/* .user p::before
{
    content: '\201C';
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -57;
    margin-right: 10px;
}
.user p::after
{
    content: '\201D';
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -70;
    margin-left: 10px;
} */

.user h3{
    font-size: 26px;
    color: #000000;
}

.controls
{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.controls span{
    width: 15px;
    height: 15px;
    background:#000080;
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
}

.active
{
    width: 45px !important;
}