.sidebarBestContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
  border: 10px solid black;
  border-bottom-left-radius: 2rem;
  background-color: #fffaff;

  padding: 0.5rem;
}

.bestTodayTitle {
  font-size: 3rem;
  text-align: center;
  background-color: black;
  width: 100%;
  border-top-left-radius: 2rem;
  font-weight: 600;
  width: 100%;
}
.sidebarBestContainerItem {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  overflow: hidden;
  text-align: center;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;

  cursor: pointer;

  background-size: 100% 100%;
}

.sidebarBestContainerItem > :first-child {
  font-size: 1.1rem;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  align-self: flex-end;
  background-color: rgba(41, 36, 36, 0.445);
  padding-left: 1rem;
  animation: swing-in-top-bck 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.sidebarBestContainerItem:hover > :first-child {
  animation: swing-out-top-bck 0.45s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.sidebarBestContainerItem > *:not(:first-child) {
  visibility: hidden;
}

.sidebarBestContainerItem:hover > :not(:first-child) {
  visibility: visible;
  animation: slide-in-bottom-top-rated 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.sidebarBestContainerItemSource {
  background-color: white;
  border-bottom-right-radius: 2rem;
  border-bottom: 8px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  height: auto;

  font-size: 2rem;
}

@media only screen and (max-width: 1023px) {
  .sidebarBestContainerItem {
    height: 20rem;
    justify-content: space-between;
  }
}

@media only screen and(min-width: 1023px) and (max-width: 1300px) {
  .sidebarBestContainerItem > :first-child {
    font-size: 0.9rem;
  }
  .sidebarBestContainerItemSource {
    font-size: 1rem;
  }
}
