.carousel {
  overflow: hidden;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}
.carousel__item {
  height: 27rem;
  overflow: hidden;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.carousel__element {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  background-color: red;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.carousel__item_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  gap: 2rem;
  overflow: hidden;
}
.carousel .carousel__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.carousel .carousel__item--visible {
  display: flex;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
}
.myButton {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  /* position: absolute;
  bottom: 0;
  left: 0; */
}
.myButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

@media only screen and (max-width: 600px) {
  .carousel__item {
    flex-direction: column;
    height: auto;
  }
  .carousel__element {
    width: auto;
  }
}
